* {
    margin: 0;
    padding: 0;
    -moz-box-align: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    body{
        header{
            nav{
                .container{
                    .nombreLogo{
                        font-family: 'Cormorant Garamond', serif;
                        font-weight: 700;
                        font-size: 36px;
                        margin: -3px 0;
                        position: relative;
                        left: 78px;
                    }
                    .itemsMenu{
                        font-weight: 500;
                        font-size: 17px;
                    }
                    form{
                        input{
                            padding: 4px;
                            padding-right: 43px;
                        }
                        input::placeholder{
                            font-weight: 500;
                        }
                        span{
                            color: black;
                            position: relative;
                            right: 45px;
                            top: 5px;
                        }
                    }
                    ul{
                        li{
                            a{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        main{
            .preferencias{
                margin-top: 60px;
                .titulo{
                    position: relative;
                    right: 30px;
                    margin-bottom: 13px;
                }
                .cursor{
                    cursor: pointer;
                }
                .categorias{
                    margin-top: 54px;
                }
            }
            .genero-precio{
                margin-top: 22px;
            }
            .productos{
                .tarjeta{
                    border: 3px solid gainsboro;
                    padding: 10px;
                    border-radius: 6%;
                    div{
                        a{
                            font-weight: 500;
                        }
                    }
                }
            }   
        }
    }
}

@media screen and (max-width:992px) {
    .margenProducto{
         margin-left: 180px; 
    }
    .margenTopProductos{
        position: relative;
        bottom: 150px; 
    }
}

@media screen and (max-width:768px){
    .margenPhones{
        margin: auto;
    }
    .margenTop{
        margin-top: 200px;
    }
    .phonesMargen{
        position: relative;
        top: 385px;
    }
    .phonesMargen2{
        position: relative;
        bottom: 399px;
    }
}
